footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
  border-top : 1px solid var(--clr-blue);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: var(--clr-blue);
    font-size: 20px;
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-1-25);
    margin-bottom: 0.5em;
}
